/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}

#map > center {
	line-height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.centered {
	position: fixed;
	width: 100px; /* meant to be overriden */
	left: 0;
	right: 0;
	margin: auto;
}
#filters-form {
	background-color: white;
	top: 0;
	bottom: 0;
	min-width: 200px;
	width: fit-content;
	max-height: 75%;
	height: fit-content;
	padding: 4px;
	overflow-y: auto;
	z-index: 5;
}
#filters-form input, #filters-form select {
	float: right;
}
#filters-form > div:nth-child(even) {
	background-color: lightgray;
}
#update-btn {
	margin: 0 33%;
}
#error-link {
	float: right;
}
#toggle-form-btn {
	width: 200px;
	bottom: 0;
}
